*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:
radial-gradient(circle at top,#0f172a,#020617,#000);

color:white;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;
}

.hidden{
display:none;
}

.container{
width:95%;
max-width:500px;
}

/* CARD */

.card{
background:rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,0.1);

padding:20px;

border-radius:20px;

margin-bottom:15px;
}

/* INPUT */

input{
width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:12px;

background:rgba(255,255,255,0.15);

color:white;

outline:none;
}

input::placeholder{
color:#ddd;
}

/* BUTTONS */

button{
padding:10px 14px;

border:none;

border-radius:12px;

cursor:pointer;

font-weight:600;

transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

.loginbtn{
width:100%;

background:
linear-gradient(to right,#ec4899,#8b5cf6,#06b6d4);

color:white;
}

.btns{
display:flex;
gap:10px;
margin:10px 0;
}

.start{
background:#22c55e;
color:white;
flex:1;
}

.pause{
background:#eab308;
color:black;
flex:1;
}

.reset{
background:#ef4444;
color:white;
flex:1;
}

.logout{
width:100%;

margin-top:10px;

background:#f43f5e;

color:white;
}

.taskbtn{
width:100%;

background:#3b82f6;

color:white;
}

/* TIMER */

.timer{
font-size:60px;

text-align:center;

margin:15px 0;

font-weight:700;

color:#67e8f9;
}

/* TASKS */

ul{
list-style:none;
margin-top:10px;
}

li{
background:rgba(255,255,255,0.1);

padding:10px;

border-radius:10px;

margin-bottom:8px;
}

/* TOPBAR */

.topbar{
display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:10px;
}

.toggle{
background:#111827;
color:white;
}

/* PROGRESS BAR */

.barbg{
background:rgba(255,255,255,0.1);

height:16px;

border-radius:20px;

overflow:hidden;

margin-top:10px;
}

.bar{
height:100%;

width:0%;

background:
linear-gradient(to right,#ec4899,#8b5cf6,#06b6d4);

transition:0.5s;
}